<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Car YouTube"
        android:supportsRtl="true">
        
        <!-- ??? ????? ?? ???? ????? ???? ??????? ???? ??????? ?????? ???????? -->
        <meta-data 
            android:name="com.google.android.car.modules.carapp" 
            android:value="androidx.car.app.CarAppService" />

        <service
            android:name=".MyCarService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <!-- ????? ????? ??????? ????? ??????? ?? ??????? ????? -->
                <category android:name="androidx.car.app.category.POI" />
            </intent-filter>
        </service>

    </application>
</manifest>
